body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:460px;
  top:20px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:81px;
  width:721px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:120px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.disabled {
}
#u4.disabled {
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:250px;
  top:120px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u6_img.selected {
}
#u6.selected {
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_img.disabled {
}
#u6.disabled {
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:470px;
  top:120px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.disabled {
}
#u8.disabled {
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:690px;
  top:120px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:909px;
  top:120px;
  width:100px;
  height:40px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u12_img.disabled {
}
#u12.disabled {
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:170px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:220px;
  top:170px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:440px;
  top:170px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:660px;
  top:170px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:879px;
  top:170px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:990px;
  top:81px;
  width:90px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
