body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:1131px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:3px;
  width:149px;
  height:22px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:386px;
  top:44px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u2_img.selected {
}
#u2.selected {
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.disabled {
}
#u2.disabled {
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:44px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u4_img.disabled {
}
#u4.disabled {
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:472px;
  top:44px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u6_img.selected {
}
#u6.selected {
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u6_img.disabled {
}
#u6.disabled {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:557px;
  top:44px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u8_img.disabled {
}
#u8.disabled {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:642px;
  top:44px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:730px;
  top:44px;
  width:148px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u12_img.disabled {
}
#u12.disabled {
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:7px;
  top:124px;
  width:1131px;
  height:541px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:541px;
}
#u15 {
  position:absolute;
  left:2px;
  top:262px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:44px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:240px;
  top:44px;
  width:136px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u18_img.disabled {
}
#u18.disabled {
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:23px;
  top:110px;
  width:372px;
  height:24px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:23px;
  top:144px;
  width:377px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:357px;
  top:690px;
  width:87px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:447px;
  top:701px;
  width:260px;
  height:31px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:31px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:765px;
  top:624px;
  width:335px;
  height:56px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:56px;
}
#u29 {
  position:absolute;
  left:2px;
  top:20px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:343px;
  top:614px;
  width:360px;
  height:76px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:76px;
}
#u31 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:17px;
  top:604px;
  width:262px;
  height:110px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u33 {
  position:absolute;
  left:2px;
  top:47px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:717px;
  top:708px;
  width:383px;
  height:22px;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:888px;
  top:44px;
  width:110px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u36_img.selected {
}
#u36.selected {
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u36_img.mouseDown {
}
#u36.mouseDown {
}
#u36_img.disabled {
}
#u36.disabled {
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1008px;
  top:44px;
  width:110px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u38_img.mouseDown {
}
#u38.mouseDown {
}
#u38_img.disabled {
}
#u38.disabled {
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:42px;
  top:701px;
  width:150px;
  height:31px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:194px;
  top:708px;
  width:80px;
  height:24px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
